<div id="Delete" class="text-secondary02">
    <h1>Tem certeza que deseja excluir seu perfil?</h1>

    <form class="form-edit" action="/delete" method="POST">
        <div id="deleteCamp" class="list-inline">
            <input  name="confirmationPassword" type="password" class="form-control" placeholder="Confirme sua senha" required> <br>
            <button style="  " class="btn  btn-block btn-danger">Excluir Perfil</button>
        </div>
        <br>
    </form>
    <a href="/users/{{getUsername currentUser}}">
        <button class="btn btn-outline-info">Voltar</button>
    </a>
</div>
